2025\doancoso\.dockerignore
Dockerfile
.dockerignore
.next
.git
.gitignore
README.md
.env*.local
.vercel
.DS_Store
*.tsbuildinfo
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*

# OS
Thumbs.db